body {
    background-image: url("../assets/PurpleGalaxy.jpg");
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
    height: 100vh;
    min-width: 800px;
    min-height: 850px;
}

h1 {
    color: whitesmoke;
    text-transform: uppercase;
}

p {
    color: whitesmoke;
}

.section {
    height: 100vh;
    margin: auto;
    width: auto;
    border: 5px solid green;
    padding: 10px;
    white-space: nowrap;
}

.inner {
    text-align: center;
    margin: auto;
    width: auto;
}

#banner {
    text-align: center;
}

#my-name{
    font-size: xx-large;
}

#my-title {
    font-size: larger;
    text-transform: uppercase;
}