body {
    background-image: url("../assets/PurpleGalaxy.jpg");
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
    height: 100vh;
    min-width: 800px;
    min-height: 850px;
}

.section{
    height: 100vh;
}
#banner {
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    white-space: nowrap;
}

#my-name{
    font-size: xx-large;
}

#my-title{
    font-size: larger;
}