* {
    color: whitesmoke;
    text-size-adjust: 100%;
    vertical-align: baseline;
}
header{
    height: auto;
    width:auto;
}
html,body {
    background-image: url("../assets/PurpleGalaxy.jpg");
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
    min-height:100%;
    height:100%;
    width:100%;
    margin: 0px !important;
}

ul {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    justify-content: center;
    display: flex;
    padding: 0;
    text-align:center;
}

h1 {
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
}

.image {
    max-width: 436.5px !important;
}

.content{
    padding-bottom: 1.6px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
}

.wrapper0{
    background-color: darkgrey;
    background-size: cover;
    border-image-repeat: stretch;
    border-image-width: 1;

}

.wrapper1 {
    background-color: dodgerblue;
    background-size: cover;
    border-image-repeat: stretch;
    border-image-width: 1;
}

.section {
    height: 100vh;
    margin: auto;
    width: 700px;
}

.inner {
    text-align: center;
    margin-left: 48.5px;
    margin-right: 48.5px;
    box-sizing: border-box;
    display: block;
    width: 873px;
}

#projects {
    display: flex;
}

#banner {
    text-align: center;
}

#my-name{
    font-size: xx-large;
}

#my-title {
    font-size: larger;
    text-transform: uppercase;
}